{
  "extends": ["stylelint-config-recess-order", "stylelint-config-standard-scss", "stylelint-config-prettier"],
  "plugins": ["stylelint-declaration-block-no-ignored-properties"],
  "rules": {
    "comment-empty-line-before": null,
    "custom-property-empty-line-before": "never",
    "declaration-no-important": true,
    "declaration-empty-line-before": "never",
    "function-url-quotes": "never",
    "no-descending-specificity": null,
    "rule-empty-line-before": [
      "always-multi-line",
      {
        "except": ["after-single-line-comment", "first-nested"]
      }
    ],
    "selector-class-pattern": "^([a-z]|[A-Z]|[0-9]|__?)+$",
    "selector-max-id": 0,
    "value-no-vendor-prefix": [
      true,
      {
        "ignoreValues": ["box"]
      }
    ],
    "order/order": ["dollar-variables", "custom-properties", "declarations", "rules"],
    "plugin/declaration-block-no-ignored-properties": true,
    "scss/at-mixin-argumentless-call-parentheses": "always",
    "scss/at-mixin-pattern": "^([a-z]|[0-9]|-)+$",
    "scss/at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["tailwind", "apply"]
      }
    ],
    "scss/dimension-no-non-numeric-values": true,
    "scss/dollar-variable-empty-line-before": null,
    "scss/dollar-variable-pattern": "^_?([a-z]|[0-9]|-)+$",
    "scss/no-duplicate-dollar-variables": true
  }
}
